/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Custom Doxygen CSS - doxygen.css
 *
 * The standard CSS for doxygen modded by
 * Alexandre Dantas <alex.dantas92@gmail.com>
 *
 * Webpage: https://github.com/alexdantas/Custom-Doxygen-CSS/wiki
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                             Common Attributes                             *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.tabs, .tabs2, .tabs3
{
    background-color: #ccccff;
    width:            100%;
    z-index:          101;
    font-size:        13px;
}

.tabs2
{
    font-size: 10px;
}

.tabs2 li
{
    margin-top: 8px;
}

.tabs3
{
    font-size: 9px;
}

.tabs3 li
{
    margin-top: 8px;
}

.tablist
{
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li
{
    float: left;
    display: table-cell;
    line-height: 36px;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.tablist a
{
    box-shadow: 0px 3px 5px #777;
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-repeat:no-repeat;
    background-position:right;
    color: #283A5D;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
    text-decoration: none;
    outline: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.tabs3 .tablist a
{
    padding: 0 10px;
}

.tablist a:hover
{
    color: #fff;
    text-shadow: 0px 1px 1px #777;
    text-decoration: none;
  background-color: #283A5D;
}

.tablist li.current a
{
    color: #fff;
    background-color: #7365f8;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}
